@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* menu items hover effect */
.menu-items-wrapper .menu-item {
  position: relative;
}
.menu-items-wrapper .menu-item::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  bottom: -8px;
  left: 50%;
  transform: scale(1);
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.menu-items-wrapper .menu-item:hover::after {
  background-color: #d60c3e;
}
