@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* menu items hover effect */
.menu-items-wrapper .menu-item {
  position: relative;
  padding-bottom: 5px; /* Adjust if needed for space between text and line */
}

.menu-items-wrapper .menu-item::after {
  content: '';
  position: absolute;
  width: 100%; /* Full width of the menu item */
  height: 2px; /* Height of the line */
  background-color: white; /* Default color */
  bottom: 0; /* Position the line at the bottom */
  left: 0;
  transform: scaleX(0); /* Initially hide the line */
  transform-origin: bottom right;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.menu-items-wrapper .menu-item:hover::after,
.menu-items-wrapper .menu-item.active::after {
  background-color: #d60c3e; /* Color on hover or active state */
  transform: scaleX(1); /* Show the line */
}

.more-info {
  overflow: hidden;
}
